<!doctype html>
<html>
  {% include "base.html" %}
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      body {
        text-align: center;
        min-width: 500px;
      }
      input.new {
            background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
            background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
            padding: 3px 7px;
            align: center;
            color: #333;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #666;
        }
    </style>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="jquery.cookie.js"></script>
    <script>

      function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }

      log = function(data){
        $("div#terminal").prepend("</br>" + data);
        console.log(data);
      };

      $(document).ready(function () {
        $("div#message_details").hide()

        var x = Math.floor(Math.random() * (100)) + 1;
        var y = Math.floor(Math.random() * (100)) + 1;
        var timerId = setInterval(function() {
            var delta_x = Math.floor(Math.random() * 11) - 5;
            var delta_y = Math.floor(Math.random() * 11) - 5;
            x = x + delta_x;
            y = y + delta_y;
            $.ajax({
                type: "POST",
                url: "http://localhost:8000/coordinates",
                data: {x: x, y: y},
                dataType: 'xml',
                crossDomain: true,
                xhrFields: {withCredentials: true}
            });
        }, 5000);

        $("#start").click(function() {
          $("#start").attr("disabled", true);
          $("#stop").attr("disabled", false);
          $.ajax({
            type: "POST",
            url: "http://localhost:8000/start_calc",
            data: {x:x, y:y},
            dataType: 'xml',
            crossDomain: true,
            xhrFields: {withCredentials: true}
          });
        });

        $("#stop").click(function() {
          $("#stop").attr("disabled", true);
          $("#start").attr("disabled", false);
          $.ajax({
            type: "POST",
            url: "http://localhost:8000/stop_calc",
            crossDomain: true,
            xhrFields: {withCredentials: true}
          });
        });

        var ws = new WebSocket("ws://localhost:8888/ws");

        ws.onmessage = function(evt) {
          alert(evt.data);
          var split_data = evt.data.split(" ");
          if (split_data[0] == "Received")
          {
            $("#stop").attr('disabled', true);
            $("#start").attr('disabled', false);
            $('div.well').text((split_data.slice(2, 6)).join(" "));
          }
          else if (split_data[0] == "Have")
          {
            $("#stop").attr('disabled', false);
            $("#start").attr('disabled', true);
          }
          else
          {
            $("#stop").attr('disabled', true);
            $("#start").attr('disabled', true);
            $('div.well').text("You do not have active orders");
          }
        };

        ws.onclose = function(evt) {
          $("div#message_details").empty();

        };

        ws.onopen = function(evt) {
          $("div#message_details").show();
          user_type = getCookie('my_type');
          if (user_type == "free")
          {
            $("#stop").attr('disabled', true);
            $("#start").attr('disabled', true);
          }
          else
          {
            $("#stop").attr('disabled', false);
            $("#start").attr('disabled', false);
          }
        };
      });
    </script>
  </head>

  <body>
    <div class="col-xs-6 col-sm-4">
      <div class="well" style="background-color:#5BC9E1; opacity: 0.8">
          <p>You do not have active orders</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h1>Hello {{ user_name }}!</h1>
        <div id="terminal"></div>
        <div id="start_trip">
            <p><input type="submit" class="new" id="start" value="Start trip" /></p>
        </div>
        <div id="stop_trip">
            <p><input type="submit" class="new" id="stop" value="Stop trip" /></p>
        </div>
    </div>
  </body>
</html>